*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color:white;
    background-color:#539165;
    display:flex;
    justify-content:space-around;
    align-items: center;
    height: 55px;
}
header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}
header ul{
    display: flex;
    gap:35px;
    font-size: 23px;
}
header ul li{
    list-style: none;
}
header ul li a {
    text-decoration: none;
}
main{
    background-color: #DDF7E3;
    /* color: rgb(40, 23, 88); */
    min-height:100vh;
    font-size: 25px;
    text-align: center;
}
.styleClass{
    display:flex;
    padding-Top:150px;
    margin-Right:50px;
    margin-Left:50px;
    padding-Bottom:250px;
    justify-Content:space-around;
}
.styleChild{
    width :320px;
    height:400px;
    background-Color:#A0D8B3;
    border-Radius:5px;
    border: 3px solid #539165;
}
.styleImg{
    width:200px;
    height:200px;
    margin-Top:20px;
    border-Radius:5px;
}
.styleText{
    color:white;
    margin-Top:10px;   
    font-Size:20px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px ;
    font-size: 12px ;
    background-color:#539165;
    color: white  ;
    height: 30px;
}


